<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>app-settings</string>
	</array>
    <key>SUPABASE_URL</key>
    <string>https://bibnhxcfmdpwqcfftgtj.supabase.co</string>
    <key>SUPABASE_ANON_KEY</key>
    <string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJpYm5oeGNmbWRwd3FjZmZ0Z3RqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI0ODgxMTgsImV4cCI6MjA2ODA2NDExOH0.zQbfeQK102deY5ono6JT-q6V5X-AfEdIf6Wji9aC59o</string>
    <key>SUPABASE_DB_PASSWORD</key>
    <string>@980117Xusiqi</string>
    <key>SUPABASE_SERVICE_ROLE_KEY</key>
    <string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJpYm5oeGNmbWRwd3FjZmZ0Z3RqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MjQ4ODExOCwiZXhwIjoyMDY4MDY0MTE4fQ.m4Ai4Utk-cykGeuHiYjY2JLoNuAmgmDJq_YDhXU5YHQ</string>
    
</dict>
</plist>
